<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Store</th>
      <th scope="col">Flavor</th>

      
    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%= @store_flavor.store_id %> </td>
          <td><%= @store_flavor.flavor_id %></td>
        </tr>
      
    
    
  </tbody>
</table>


<br />


<br />


<%= link_to 'Edit', edit_store_flavor_path(@store_flavor), :class => 'btn btn-warning' %> |
<%= link_to 'Back', store_flavors_path, :class => 'btn btn-secondary' %>
