<h4> Active Employees In Your Store</h4>



<%= link_to 'New Employee', new_employee_path %>

<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Employee</th>

 
    </tr>
  </thead>
  <tbody>
    
      <% unless @employees.empty? %>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.name, employee_path(employee) %></td>
        </tr>
      <% end %>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />


