


<%= link_to 'New Employee', new_employee_path %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Employee</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.name, employee_path(employee) %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete, :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />


