


<!--link to new employee-->
<%= link_to 'New Flavor', new_flavor_path %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Flavor</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @flavors.each do |flavor| %>
        <tr>
          <td><%= link_to flavor.name, flavor_path(flavor) %></td>
          <td><%= link_to 'Edit', edit_flavor_path(flavor), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Inactivate', flavor, confirm: 'Are you sure?', method: :delete, :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />
