<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Active</th>

    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%= @flavor.name %> </td>
          <td><%= @flavor.active %></td>
        </tr>
      
    
    
  </tbody>
</table>


<br />


<br />


<%= link_to 'Edit', edit_flavor_path(@flavor), :class => 'btn btn-warning' %> |
<%= link_to 'Back', flavors_path, :class => 'btn btn-secondary' %>
