
<%= link_to 'New Store', new_store_path %>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Store</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @stores.each do |store| %>
        <tr>
          <td><%= link_to store.name, store_path(store) %></td>
          <td><%= link_to 'Edit', edit_store_path(store), :class=> "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', store, method: :delete, confirm: 'Are you sure?', :class=> "btn btn-danger" %></td>
        </tr>
      <% end %>
    
    
  </tbody>
</table>


<br />

<br />


