<h4> Stores </h4>


<%= link_to 'New Store', new_store_path %>

<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Store</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
 
    </tr>
  </thead>
  <tbody>
    
      
      <% @stores.each do |store| %>
        <tr>
          <% if can? :show, Store %>
          <td><%= link_to store.name, store_path(store) %></td>
          <% end %>
          <% if can? :edit, Store %>
          <td><%= link_to 'Edit', edit_store_path(store), :class=> "btn btn-warning" %></td>
          <% end %>
          <% if can? :destroy, Store %>
          <td><%= link_to 'Destroy', store, method: :delete, confirm: 'Are you sure?', :class=> "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    
    
  </tbody>
</table>

<div class="p-3 mb-2 bg-light text-dark"><button class="btn btn-light" onclick="goBack()">Back</button></div>
<br />

<br />


