<!--footer for application-->
<div id="copyright">
  <br />Webmaster: <%= mail_to "shkhuzae@andrew.cmu.edu", "Shouq Al-Khuzaei", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2019
  <br /><br />
</div>