<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Employee ID</th>
      <th scope="col">Email</th>
      
    </tr>
  </thead>
  <tbody>
    
      
      
        <tr>
          <td><%=  @user.employee_id %> </td>
          <td><%= @user.email %></td>

        </tr>
      
    
    
  </tbody>
</table>


<br />


<br />



<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-warning' %> |
<%= link_to 'Back', users_path %>
