
    
    <div class="container-fluid" >

		    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B0EEEE;">
  <a class="navbar-brand" href="/pages/home">A & M Creamery </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    
    <span class="nav-item">
      <% if logged_in? %>
      <%= link_to "logout", home_path %>
   <% end %>
      
    </span>
  
</nav>

    <!--quote part in home page-->
      <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>Together we must succeed; Together we will succeed.</p>
        <footer class="blockquote-footer">Alex Heimann </footer>
        </blockquote>
      
      </div>
      
    <!--image in home page-->
    <%= image_tag("c.jpg", alt: "Ice cream", :class => "img-fluid") %>
    <br/>
    <br/>
      <!--about us part in home page-->
      <h5> About Us </h5>
      <h6>
        The Amazing and Marvelous Creamery is the brainchild of Alex and Mark Heimann and currently
        consists of four stores in the Greater Pittsburgh area. Our main goal is to provide customers with great deals and experiences.
    
      <br/>
      <br/>

      </h6>
 
      </div>

