<html>
    <head>
    <% if logged_in? %>
      <%= link_to "logout", logout_path %>
      
     <% else %>
     <%= link_to "login", login_path %>
   <% end %>
    </head>
    <!--image in home page-->
    <%= image_tag("r.jpeg", alt: "Ice cream", :class => "img-fluid") %>
    <body>
     <!--div for choosing flavors which will be updated later on-->
     <div class="p-3 mb-2 bg-light text-black"> 
     <h6> CHOOSE FROM A NUMBER OF FLAVORS </h6>
     
      
    <br/>
    <br/>
    <br/>
    <br/>
     
 
     </div>
     <div class="card">
      <div class="card-header">

      </div>
      <!--quote part in home page-->
      <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>Together we must succeed; Together we will succeed.</p>
        <footer class="blockquote-footer">Alex Heimann </footer>
        </blockquote>
      </div>
      </div>
      <!--another image-->
      <%= image_tag("c.jpg", alt: "Ice cream", :class => "img-fluid") %>
      <div class="p-3 mb-2 text-black" style="background-color: #FCFAFC;"> 
      <!--about us part in home page-->
      <h5> About Us </h5>
      <h6>
        The Amazing and Marvelous Creamery is the brainchild of Alex and Mark Heimann and currently
        consists of four stores in the Greater Pittsburgh area. Our main goal is to provide customers with great deals and experiences.
    
      <br/>
      <br/>
     
      <br/>
      <br/>
      </h6>
 
      </div>
     
      </body>
</html>
